[Unit]
Description=Modern Neopixel (WS2812) driver for the Beaglebone.
After=network.target

[Service]
ExecStartPre=/bin/bash -c 'pins="P8_46 P8_43 P8_42 P8_28 P9_25 P9_27 P9_31 P8_11"; for i in $pins; do /usr/bin/config-pin -a $i pruout; done'
ExecStart=/usr/bin/epilepsia -c /etc/epilepsia/epilepsia.json
ExecStopPost=+/bin/bash -c 'if [[ "$EXIT_STATUS" == "0" ]]; then /sbin/shutdown -h now; fi'
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target


